.container{
    background-color: peachpuff
}

/* SECTION1 */
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ulist {
    display: flex;
    flex-direction: row;
}
.logo{
    color: blue;
    font-size: 0.1rem;
    margin-right: 5rem;
}
.ulist{
    list-style: circle;
}
li {
    color: blue;
    margin-right: 10rem;
    font-size:1.5rem ;
}
a {
text-decoration: none;
}

/*SECTION 2 */
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}
.header1 {
    color: blue;
    font-size: 3.5rem;
}

.first-div {
    width: 400px;
    margin-right: 0.005rem;
}

.img1 {
    max-width: 400px;
    max-height: 10cm;
}

.second-div{
    width: 400px;
    margin-left: 0.0005rem;
}

.img2 {
    max-width: 200px;
    image-resolution: 500px;
}


.header2 {
    color: blue;
    font-size: 2rem;
    font-style: italic;
}

.paragraph {
    color: blue;
    font-size: x-large;
}


/*SECTION 3*/
.section3 {
    display: flex;
    justify-content: center;
    align-items: center;padding-top: 3rem;
}

.header2 {
    color: blue;
    font-size: 2rem;
}

.third-div{
    
}

.services {
font-size: small;
text-decoration: none;
}